@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.owl-carousel{
  padding-right: 50px !important;
  padding-left: 50px !important;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #8a6e4b !important;
  font-size: 1.5rem !important;
  padding: 0 !important;
  width: 40px;
  line-height: 43px;
  text-align: center;
  height: 40px;
  border-radius: 50% !important;
  background: #ffffff !important;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%);
  position: absolute;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
}


.owl-next {
  right: 0;
}
.owl-prev {
  left: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
