.family-tree {
  background-image: url(/assets/images/family.png);
  background-size: cover;
  height: 500px;
}
.text-orange {
  color: #f28705;
}
.text-blue {
  color: #0367a6;
}
.text-red {
  color: #bf0413;
}
.text-purple {
  color: #781f97;
}
.middle-content {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 10%,
    #ede6dd 10%,
    #ede6dd 100%
  );
}
.comment-section {
  background: linear-gradient(
    to top,
    #ffffff 0%,
    #ffffff 30%,
    #a4b3ba 30%,
    #a4b3ba 100%
  );
}
.fs-13 {
  font-size: 13px;
  line-height: 1.73;
}
.reviewer {
  font-size: 14px;
  font-weight: bold;
  color: #0367a6;
}
.rating {
  color: #f28705;
}

.process-row {
  display: table-row;
}

.process {
  display: table;
  width: 100%;
  position: relative;
}

.process-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.process-row:before {
  top: 30px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.process-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.process-step p {
  margin-top: 10px;
  font-size: 13px;
}

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  border: 1px solid gray;
}
.what-next {
  margin: 0 150px;
  .btn-warning {
    background-color: #f28705;
  }
  .btn-info {
    background-color: #0367a6;
  }
  .btn-dange {
    background-color: #bf0413;
  }
  .btn-dark {
    background-color: #781f97;
  }
}
.card-header {
  font-size: 12.6px;
  font-weight: bold;
  color: #f28705;
}
.list-group {
  .list-group-item {
    a {
      color: black;
      text-decoration: none;
      font-size: 13px;
      &:hover {
        text-decoration: underline;
        color: red;
      }
    }
  }
}
