<div class="p-0">
  <div class="px-5">
    <div class="row family-tree">
      <div class="col-sm-6 h-100">
        <div class="d-flex align-items-center h-100">
          <h1>
            Confused on your educational <br />future,
            <span class="text-orange">P</span>
            <span class="text-blue">A</span>
            <span class="text-red">S</span>
            <span class="text-purple">S</span> Roots is here to<br />
            guide you
          </h1>
        </div>
      </div>
      <div class="col-sm-6 h-100">
        <div class="d-flex align-items-center h-100">
          <img
            class="rounded mx-auto d-block"
            style="height: 150px; margin-top: -100px"
            src="assets/images/Logo.svg"
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row m-0">
      <div class="px-5 middle-content">
        <div class="supported">
          <div class="shadow-lg bg-white py-3 px-4">
            <h5 class="pb-2">Supported By</h5>
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of dynamicSlides">
                <ng-template carouselSlide>
                  <div class="card" style="width: 10rem">
                    <div class="card-body">
                      <img
                        class="rounded mx-auto d-block"
                        [src]="slide.src"
                        [alt]="slide.alt"
                        style="width: 100px"
                      />
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
        <div class="pb-5">
          <div class="d-flex justify-content-center py-5">
            <h5>Use below options to get idea on future education</h5>
          </div>
          <div class="what-next">
            <div class="what-next-train">
              <div class="process">
                <div class="process-row">
                  <div class="process-step">
                    <button type="button" class="btn btn-warning btn-circle">
                      <div>
                        <i class="las la-school la-2x"></i>
                      </div>
                    </button>
                    <p>School</p>
                  </div>
                  <div class="process-step">
                    <button type="button" class="btn btn-info btn-circle">
                      <i class="las la-certificate la-2x"></i>
                    </button>
                    <p>Under Graduation</p>
                  </div>
                  <div class="process-step">
                    <button type="button" class="btn btn-danger btn-circle">
                      <i class="las la-graduation-cap la-2x"></i>
                    </button>
                    <p>Graduation</p>
                  </div>
                  <div class="process-step">
                    <button type="button" class="btn btn-dark btn-circle">
                      <i class="las la-user-graduate la-2x"></i>
                    </button>
                    <p>Post Graduation</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="what-next-content">
              <div class="row my-2">
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 px-2">
                  <div class="card" style="width: auto">
                    <div class="card-header">Featured</div>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Cras justo odio</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Dapibus ac facilisis in</a>
                        <i class="las la-angle-right"></i>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                      >
                        <a href="javascript:void(0)" (click)="openCourse()">Vestibulum at eros</a>
                        <i class="las la-angle-right"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-sm-12 p-0">
        <div class="comment-section pb-4">
          <div class="px-5">
            <div class="d-flex justify-content-center">
              <div class="mt-5 mb-3" style="color: #ffffff">
                <h3>What people talk about PASS Roots</h3>
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="card shadow-sm mx-2" style="width: 18rem">
                <div class="card-body">
                  <div class="rating">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                  </div>
                  <div class="fs-13 pb-2">
                    <span>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s,
                    </span>
                  </div>
                  <div class="fs-13 text-muted">
                    <span>Review By</span>
                  </div>
                  <div class="reviewer">
                    <span>Sandeep Siddamsetty</span>
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mx-2" style="width: 18rem">
                <div class="card-body">
                  <div class="rating">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                  </div>
                  <div class="fs-13 pb-2">
                    <span>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s,
                    </span>
                  </div>
                  <div class="fs-13 text-muted">
                    <span>Review By</span>
                  </div>
                  <div class="reviewer">
                    <span>Sandeep Siddamsetty</span>
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mx-2" style="width: 18rem">
                <div class="card-body">
                  <div class="rating">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                  </div>
                  <div class="fs-13 pb-2">
                    <span>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s,
                    </span>
                  </div>
                  <div class="fs-13 text-muted">
                    <span>Review By</span>
                  </div>
                  <div class="reviewer">
                    <span>Sandeep Siddamsetty</span>
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mx-2" style="width: 18rem">
                <div class="card-body">
                  <div class="rating">
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                    <i class="las la-star"></i>
                  </div>
                  <div class="fs-13 pb-2">
                    <span>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s,
                    </span>
                  </div>
                  <div class="fs-13 text-muted">
                    <span>Review By</span>
                  </div>
                  <div class="reviewer">
                    <span>Sandeep Siddamsetty</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
